<section class="panel list-panel tickets full-panel">
<header class="panel-header navbar guide-spot">
<ul class="nav centerNav">
	<%= render 'shared/search' %>
	<%= render 'shared/profile2' %>
</ul>
</header>
<article class="content">

<%= render 'shared/vendor_info' %>

<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: auto;">

	<section class="ticketList" style="display: block; overflow: hidden; width: auto; height: auto;">
	<p>
		<a href="#" class="button button-primary">全部删除</a>
		<a href="#" class="button button-primary">刷新</a>
	</p>

	<table class="table">
		<th><input type="checkbox"></th>
		<th>任务</th>
		<th>参数</th>
		<th>值</th>
		<th>创建时间</th>
		<th>完成时间</th>
		<th>创建者</th>
		<th>错误码</th>
		<th>错误信息</th>
		<tr>
			<td><input type="checkbox"></td>
			<td>Get parameter value list</td>
			<td>Device.WiFi.SSID.1.SSID</td>
			<td></td>
			<td>9/16/2014 19:14:23</td>
			<td>9/16/2014 19:14:35</td>
			<td>Alpha</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><input type="checkbox"></td>
			<td>Set parameter values for device</td>
			<td>Device.WiFi.SSID.1.SSID</td>
			<td>test_ssid_1</td>
			<td>9/16/2014 19:13:29</td>
			<td>9/16/2014 19:13:44</td>
			<td>Alpha</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><input type="checkbox"></td>
			<td>Get parameter attributes list</td>
			<td>Device.</td>
			<td></td>
			<td>9/16/2014 19:01:29</td>
			<td>9/16/2014 19:13:44</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><input type="checkbox"></td>
			<td>Get parameter value list</td>
			<td>Device.</td>
			<td></td>
			<td>9/16/2014 19:01:29</td>
			<td>9/16/2014 19:01:33</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><input type="checkbox"></td>
			<td>Get parameter names</td>
			<td></td>
			<td></td>
			<td>9/16/2014 19:01:18</td>
			<td>9/16/2014 19:01:29</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</section>
</div>
</article>
