<section class="panel list-panel tickets full-panel">
<header class="panel-header navbar guide-spot">
<ul class="nav centerNav">
	<%= render 'shared/search' %>
	<%= render 'shared/profile2' %>
</ul>
</header>

	<div class="jumbotron masthead" style="display: block; overflow: hidden; width: auto; height: 94%;">
		<div class="container">
			<h1>欢迎使用 ACS 系统</h1>
			<h2>这是一个简洁、直观、轻量级的 ACS 系统。</h2>
		</div>
	</div>
