	<hr>
	
	<input type="radio" name="send_type" id="send_type">&nbsp;&nbsp;马上发送 &nbsp;&nbsp;
	<input type="radio" name="send_type" id="send_type">&nbsp;&nbsp;等待下次连接
	<br>
	<br>
	<a href="#" class="button button-primary">创建任务</a>
	<a href="#" class="button button-primary">取消</a>
