	<aside class="sidebar">
	<div class="sidebar-wrap">
		<header class="sidebar-header guide-spot">
		<ul class="nav projectNav">
			<li class="go-launchpad">
			<a href="/" title="回到控制面板">
				<i class="iconfont prag-dashboard"></i>
			</a>
			</li>
			<li class="dropdown" id="projects">
			<a class="dropdown-toggle" href="#" data-toggle="dropdown">
				<span title="Toal" class="project-name">ACS 系统</span>
			</a>

			</li>
		</ul>
		</header>

		<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: auto; max-height: 192px;"><section id="sidebar-content" style="overflow: hidden; width: auto; height: auto; max-height: 192px;">
			<section id="my-tickets" class="myTickets sb-section">
			<h4 draggable="true" class="sb-header user-item">
				<i class="iconfont prag-lists"></i>
				CPE 列表
			</h4>
			</section>

			<hr class="separator">

			<section id="sb-inbox" class="sb-section">
			<h4 id="backlog" class="sb-header iteration-item" draggable="true">
				<i class="iconfont prag-inbox"></i>设备信息
			</h4>
			</section>

			<hr class="separator">

			<section id="iterations" class="sb-section collapsible">
			<h4 class="sb-header collapse-trigger">
				<i class="iconfont prag-chevron-down collapse-pointer pull-right"></i>
				<i class="iconfont prag-projects"></i>设备视图
			</h4>
			<div class="lists">
				<ul class="sub-nav list collapse-target">
					<li class="item" draggable="true" id="basic">
						基本设置
					</li>
					<li class="item" draggable="true" id="basic">
						高级设置
					</li>
				</ul>
			</div>
			</section>

			<hr class="separator">

			<section id="sb-inbox" class="sb-section">
			<h4 id="backlog" class="sb-header iteration-item" draggable="true">
				<i class="iconfont prag-projects"></i>定制 RPC 方法
			</h4>
			</section>

			<hr class="separator">

			<section id="sb-inbox" class="sb-section">
			<h4 id="backlog" class="sb-header iteration-item" draggable="true">
				<i class="iconfont prag-projects"></i>文件上传
			</h4>
			</section>

			<hr class="separator">

			<section id="sb-inbox" class="sb-section">
			<h4 id="backlog" class="sb-header iteration-item" draggable="true">
				<i class="iconfont prag-projects"></i>文件下载
			</h4>
			</section>

			<hr class="separator">

			<section id="sb-inbox" class="sb-section">
			<h4 id="backlog" class="sb-header iteration-item" draggable="true">
				<i class="iconfont prag-projects"></i>历史日志
			</h4>
			</section>

			<hr class="separator">

			<section id="team" class="sb-section collapsible">
			<h4 class="sb-header collapse-trigger">
				<i class="iconfont prag-chevron-down collapse-pointer pull-right"></i>
				<i class="iconfont prag-members"></i>任务状态
			</h4>
			<ul class="sub-nav collapse-target">
				<li class="item" draggable="true" id="pending-task"><div class="counter">0</div>
					正在等候的任务
				</li>
				<li class="item" draggable="true" id="send-task"><div class="counter">0</div>
					已发送的任务
				</li>
				<li class="item" draggable="true" id="completed-task"><div class="counter">5</div>
					已完成的任务
				</li>
				<li class="item" draggable="true" id="failed-task"><div class="counter">0</div>
					失败的任务
				</li>
				<li class="item" draggable="true" id="rejected-task"><div class="counter">0</div>
					被拒绝的任务
				</li>
			</ul>
			</section>
				</section>
				<div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 226px; background: rgb(0, 0, 0);"></div>
				<div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
			</div>

			<div class="projectAction guide-spot">
				<ul>
					<li class="sit-right dropup" id="btn-more-action">
					<a class="dropdown-toggle" data-toggle="dropdown" data-target="btn-more-action" title="管理任务列表和团队成员">
						<i class="iconfont prag-cog collapsed-action"></i>
					</a>

					<ul class="dropdown-menu">
						<li>
						<a id="btn-toggle-sidebar" href="#" class="">
							<span class="collapse-right">
								<i class="iconfont prag-collapse-right"></i>
								展开左边栏
							</span>
							<span class="collapse-left">
								<i class="iconfont prag-collapse-left"></i> 收起左边栏
							</span>
						</a>
						</li>
					</ul>
					</li>
				</ul>
			</div>
		</div>
		</aside>
