					<div class="navbar nav global-nav pull-right">
							<li class="dropdown" id="notifications">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#notificatoins" tabindex="-1"><i class="iconfont prag-bell"><span class="counter">0</span></i></a>
							<div class="dropdown-menu">
								<div class="header">
									<a href="#" class="mark-all-as-read"><i class="iconfont prag-status-approved"></i> 全部已读</a>
									<h3>通知</h3>
								</div>
								<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: auto; max-height: 217px;"><div class="items" style="overflow: hidden; width: 100%; height: auto; max-height: 217px;"><div class="placeholder">
											<i class="iconfont prag-bell"></i>
											<p class="text">目前没有新的通知</p>
										</div>
								</div>
								<div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; background: rgb(0, 0, 0);"></div>
								<div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
							</div>
							</li>
							<li class="dropdown" id="help">
							<a class="help" data-toggle="dropdown" href="#" tabindex="-1"><i class="iconfont prag-question-mark"></i></a>
							<ul class="dropdown-menu">
								<li>
								<a class="guide" href="#">
									<i class="iconfont prag-compass"></i>功能向导
								</a>
								</li>
								<li>
								<a class="keyboard" href="#">
									<i class="iconfont prag-keyboard"></i>快捷操作
								</a>
								</li>
							</ul>
							</li>
							<li class="dropdown" id="profile">
							<a class="dropdown-toggle avatar" data-toggle="dropdown" href="#profile" tabindex="-1">
								<img alt="Alpha" height="28" src="https://secure.gravatar.com/avatar/9a68e1cd013ec0cd88872d763158b05c?default=https%3A%2F%2Fdn-pragmaticly.qbox.me%2Fdefault-avatar.png&amp;size=56" width="28">
							</a>
							<ul class="dropdown-menu">
								<li>
								<a class="modalTab" href="#profileModal" data-toggle="modal" tab-toggle="#profile-edit" data-backdrop="true">
									<i class="iconfont prag-profile"></i>个人资料
								</a>
								</li>
								<li>
								<a class="modalTab" href="#profileModal" data-toggle="modal" tab-toggle="#notification-settings" data-backdrop="true">
									<i class="iconfont prag-bell"></i>通知设置
								</a>
								</li>
								<li>
								<a href="/logout">
									<i class="iconfont prag-logout"></i>退出
								</a>
								</li>
							</ul>
							</li>
							</div>
