<div class="list-head" style="display: block;">
	<table>
		<tr>
			<td>
				<ul class="nav navbar">
					<li>
					<%= image_tag('ico_device_info_small.png') %>
					</li>
				</ul>
			</td>
			<td>
				&nbsp;
				&nbsp;
				&nbsp;
			</td>
			<td>
				<ul class="nav navbar">
					<table>
						<tr>
							<td>序列号：</td>
							<td>J00000001</td>
						</tr>
						<tr>
							<td>设备名：</td>
							<td>Manucturer</td>
						</tr>
						<tr>
							<td>厂商：</td>
							<td>Manucturer</td>
						</tr>
					</table>
				</ul>
			</td>
		</tr>
	</table>
</div>
