<section class="panel list-panel tickets full-panel">
<header class="panel-header navbar guide-spot">
<ul class="nav centerNav">
	<%= render 'shared/search' %>
	<%= render 'shared/profile2' %>
</ul>
</header>
<article class="content">

<div class="list-head" style="display: block;">
	<table>
		<tr>
			<td> 
				<ul class="nav navbar">
					<li>
					<%= image_tag('ico_device_info_small.png') %>
					</li>
					<li>
					CPE 设备在线
					</li>
					<li>
					<a href="#" class="button button-primary">检查状态</a>
					</li>
				</ul>
			</td>
			<td>
				&nbsp;
				&nbsp;
				&nbsp;
				</td>
			<td>
				设备信息：
				<ul class="nav navbar">
					<table>
						<tr>
							<td>厂商：</td>
							<td>Manucturer</td>
						</tr>
						<tr>
							<td>OUI：</td>
							<td>0000BF</td>
						</tr>
						<tr>
							<td>序列号：</td>
							<td>J00000001</td>
						</tr>
						<tr>
							<td>设备名：</td>
							<td>RouterHGW</td>
						</tr>
						<tr>
							<td>描述：</td>
							<td>Home gateway Wireless Router</td>
						</tr>
						<tr>
							<td>硬件版本：</td>
							<td>R0B2</td>
						</tr>
						<tr>
							<td>固件版本：</td>
							<td>1.00</td>
						</tr>
						<tr>
							<td>启动时间（秒）：</td>
							<td>46</td>
						</tr>
						<tr>
							<td>远程地址：</td>
							<td>http://10.0.0.2</td>
						</tr>
						<tr>
							<td>注册时间：</td>
							<td>9/16/2014 19:01:36</td>
						</tr>
						<tr>
							<td>上次连接：</td>
							<td>9/16/2014 19:01:36</td>
						</tr>
						<tr>
							<td>方法列表：</td>
							<td><a href="#">打开</a></td>
						</tr>
					</table>
				</ul>
			</td>
		</tr>
	</table>
	<hr>
	<a href="#" class="button button-primary">重启</a>
	<a href="#" class="button button-primary">恢复默认设置</a>
	<a href="#" class="button button-primary">删除</a>
	<a href="#" class="button button-primary">开启追溯</a>
	<a href="#" class="button button-primary">显示追朔日志</a>
	<a href="#" class="button button-primary">Ping</a>
	<a href="#" class="button button-primary">Traceroute</a>
</div>

</article>
